.job-filter {
    min-height: 70px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 40px;
    /* padding: 20px; */
    margin-bottom: 40px;
    z-index: 5;
}

.job-filter .tag-list li {
    padding-right: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
} .job-filter .tag-list li:hover {
    background-color: #EEF6F6;
    color: #5CA5A5;
    cursor: unset;
}

.job-filter .tag-list {
    min-height: unset;
}

.job-filter .tag-list p {
    margin-right: 5px;
}

.job-filter .remove-tag-btn {
    background-color: #5CA5A5;
    color: white;
    border: unset;
    border-radius: unset;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 30px;
} .job-filter .remove-tag-btn:hover {
    background-color: #2B3939;
}


.job-filter .clear-btn {
    font-size: 0.8125rem;
    color: #5CA5A5;
    background-color: unset;
    border: unset;
    border-radius: unset;
} .job-filter .clear-btn:hover {
    box-shadow: 0 4px 0px -3px;
}
