body {
    background-color: #EFFAFA;
}

.app-header {
    min-height: 150px;
    background-image: url(../../../img/header.svg);
}

.app-main {
    min-height: calc(100vh - 60px);
    padding-top: 75px;
    position: relative;
    top: -120px;
}



.container {
    margin: 0 auto;
    padding-right: 25px;
    padding-left: 25px;
    max-width: 1110px;
} 
@media (max-width: 750px) {
    .container {
        max-width: unset;
    }
}